.player-info {
    padding: 8px;
    margin-left: 25px;
    font-size: 25px;
    color: #DAD4bb;
    display: flex;
    align-items: center;
}

.player-info__health {
    margin-left: 20px;
    display: flex;
}

.player-info__attack {
    margin-left: 40px;
}

.player-info__wpm {
    text-align: right;
    margin-right: 40px;
    margin-left: auto;
}

.player-info__wpm p{
    margin: 0;
}